---
import ContactForm from "../components/ContactForm.svelte";
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <Main>
        <H1 text="Contact" />
        <div class=
        "mb-20">
            <ContactForm <!-- client:visible={{ rootMargin: "200px" }} -->
                client:load />
            </ContactForm>
        </div>
    </Main>
</Layout>

<style is:global>
    .kw-field-error-message {
        font-size: 14px !important;
    }
</style>