---
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import { XataClient } from "../xata";
import bcrypt from "bcryptjs";

const errors: Record<string, string> = {};

// handle the POST request here
if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const email = data.get("email") as string;
    const password = data.get("password") as string;

    // handle the form submission here
    const xata = new XataClient({ apiKey: import.meta.env.XATA_API_KEY });
    const user = await xata.db.users.filter({ email }).getFirst();

    if (!user) {
        errors.email = "Incorrect username";
    } else {
        const authenticated = bcrypt.compareSync(password, user.password);

        if (!authenticated) {
            errors.password = "Incorrect password";
        } else {
            Astro.cookies.set("userId", user.id, {
                httpOnly: true,
                secure: true,
            });
            Astro.cookies.set("userName", user.name, {
                httpOnly: true,
                secure: true,
            });
            Astro.cookies.set("userEmail", user.email, {
                httpOnly: true,
                secure: true,
            });
            errors.email = "";
            errors.password = "";

            return Astro.redirect(
                Astro.url.searchParams.get("redirect") ?? "/",
                302
            );
        }
    }
}
---

<Layout title="Log In">
    <Main>
        <H1 text="Log In" />

        <form method="POST">
            <label class="mb-2 text-teal-900" for="email">Email</label>
            <input
                class="border-teal-900 border w-full mb-2 rounded-lg px-6 py-3"
                type="email"
                id="email"
                name="email"
                required
            />
            <p class="text-red-700 mb-10 h-10">{errors.email}</p>

            <label class="mb-2 text-teal-900" for="password">Password</label>
            <input
                class="border-teal-900 border w-full mb-2 rounded-lg px-6 py-3"
                type="password"
                id="password"
                name="password"
                required
            />
            <p class="text-red-700 mb-10 h-10">{errors.password}</p>

            <button
                class="text-white text-2xl bg-teal-900 w-full rounded-lg px-6 py-3 mb-11"
                type="submit">Log In</button
            >
        </form>
        <p>
            Don't have an account? <a
                class="text-teal-900 underline"
                href="/login">Sign Up</a
            >
        </p>
    </Main>
</Layout>
